*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 600px;
    margin: 30px auto 0;
    background-color: #f6f6f6;
}

.container .add_task{
    padding: 15px;
    background-color: #009688;
    position: relative;
}

.container .add_task input{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    width: calc(100% - 15px);
    color: #fff;
    font-size: 20px;
}

.container .add_task input:focus{
    outline: none;
}

.container .add_task .plus{
    border-radius: 50%;
    background-color: white;
    position: absolute;
    height: 43px;
    width: 43px;
    right: 12px;
    text-align: center;
    color: #009688;
    cursor: pointer;
    font-size: 38px;
    line-height: 43px;
    transition: transform 0.3s;
    user-select: none;
}

.container .add_task .plus:hover{
    transform: rotate(90deg);
}

.container .task_content{
    padding: 15px;
}

.container .task_content .no_task{
    color: #777;
    font-size: 15px;
}

.container .task_content >span{
    display: block;
    background-color: #fff;
    padding: 10px;
}

.container .task_content >span:not(:last-child){
    margin-bottom: 10px;
}

.container .task_content .task_box .delete{
    float: right;
    background-color: #e91e63;
    padding: 3px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.container .task_content .task_box .delete:hover{
    background-color: #eb6f98;
}

.container .task_content .task_box.finished{
    text-decoration: line-through;
}

.task_status{
    overflow: hidden;
    width: 600px;
    margin: 10px auto;
    font-size: 12px;
}

.task_status .task_count{
    width: 50%;
    float: left;
    padding: 10px;
}
.task_status .task_completed{
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right;
}

.task_status .task_completed span,
.task_status .task_count span {
    color: #fff;
    padding: 1px 5px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.task_status .task_completed span{
    background-color: #009688;
}

.task_status .task_count span{
    background-color: #e91e63;
}
